language: groovy

jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8

before_install:

# Gradle
- chmod +x gradlew
- touch gradle.properties
- echo "bintrayUser=''" >> gradle.properties
- echo "bintrayKey=''" >> gradle.properties

env:
- TERM=dumb

after_success:
- ./gradlew cobertura coveralls
